@import "./../../../../styles/abstracts/themeSrc";
@import "./../../../../styles/components/buttons";
@import "./../../../../styles/components/textField";

.bookingForm {
  @include Position(relative);
  z-index: 1;
  background-color: rgba(0,0,0,0.7);
  @include Padding(20px);
  @include borderRadius(20px);
  margin-top: 30px;
  text-align: $textLeft;
  @include breakPoints(767px) {
    margin-bottom: 20px;
  }
  @keyframes animationH2 {
    0% {
      left: -20px;
      opacity: 0.5;
    }
    100% {
      left: 40px;
      opacity: 1;
    }
  }
  .buttonGroupWrapper {
    margin-top: -40px;
    button {
      background-color: $secondaryColor;
      color: $whiteColor;
      @include Padding(10px);
      margin-right: 10px;
      @include Display(inline-block);
      @include borderRadius(4px);
      cursor: pointer;
      @include breakPoints(640px) {
        font-size: 12px;
        @include Padding(8px);
        margin-right:5px; 
      }
    }
    button.selected {
      background: linear-gradient(
        127deg,
        #e5eaff,
        #e6fcfc 39.23%,
        #e6fcf7 74.34%,
        #f5fce6 99.12%
      );
      color: $primaryColor;
    }
  }
  h2 {
    color: $secondaryColor;
    @include Position(relative);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: animationH2;
    opacity: 0;
    font-size: 1.5rem;
    span{
      color: $whiteColor;
    }
  }
  .formWrapper {
    @include Display(flex);
    @include flexDirection(row);
    @include JustifyContent(space-between);
    @include alignItem(baseline);
    @include breakPoints(767px) {
      @include flexDirection(column);
      @include alignItem(center);
    }
    .formGroup {
      @include Width(20%);
      @include breakPoints(767px) {
        @include Width(100%);
      }
    }
  }
  .primaryButton {
    @include borderRadius(5px);
    min-height: 45px;
    &:hover {
      background-color: $secondaryColor;
    }
  }
}
