@import "./../../../../styles/abstracts/themeSrc";

.rentalCommunity {
  background-color: $primaryColor;
  h2,
  p,
  a,
  h5,
  h6 {
    @include Position(relative);
    color: $whiteColor;
  }
  @include breakPoints(767px) {
    @include Width(100%);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .flex {
    min-height: 300px;
    @include breakPoints(767px) {
      min-height: 150px;
    }
  }
  p {
    margin-top: 1rem;
  }
  .communityBoxWrap {
    @include Display(flex);
    @include flexDirection(row);
    @include JustifyContent(space-around);
    max-width: 80%;
    margin: 0 auto;
    @include breakPoints(767px) {
      max-width: 90%;
      @include flexDirection(column);
    }
    a {
      @include Display(flex);
      @include Padding(15px);
      @include borderRadius(8px);
      @include alignItem(center);
      @include JustifyContent(space-around);
      border: 1px solid #7de8ba;
      @include Width(250px);
      margin-top: 20px;
      @include breakPoints(991px) {
        @include Padding(10px);
        @include Width(160px);
      }
      @include breakPoints(767px) {
        @include Width(auto);
      }
      .icon {
        font-size: 40px;
        @include Width(60px);
        @include Height(60px);
        line-height: 60px;
        background-color: $whiteColor;
        @include borderRadius(8px);
        i {
          &.faInstagram {
            color: #ff2072;
          }
          &.faFacebook {
            color: #0866ff;
          }
          &.faTwitter {
            color: #1c96e8;
          }
        }
      }
      &:hover {
        box-shadow: 4px 16px 32px rgba(8, 209, 130, 0.5098039216);
      }
      .numbersWrap {
        h5 {
          font-weight: $fontWeight700;
          font-size: 22px;
        }
      }
    }
  }
}
