$primaryColor: #201e53;
$secondaryColor: #00D231;
$textColor: #526977;
$whiteColor: #ffffff;
$blackColor: #000000;
$transparent:transparent;
$borderColor:#dce0e0;



// font-weight
$fontWeight100: 100;
$fontWeight200: 200;
$fontWeight300: 300;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;
$fontWeight900: 900;

// Text
$upperCase: uppercase;
$lowerCase: lowercase;
$capitalize: capitalize;
$transformNone: none;
$textRight: right;
$textLeft: left;
$textCenter: center;
$textUnderline: underline;
$textUnderlineNone:none;


// Floating
$floatRight: right;
$floatLeft: left;
$floatNone: none;


// other variables
$cursorPointer: pointer;
$cursorDefault: default;
$pointeEvent:none;
$borderZero: none;

