@import "./../../../../styles/abstracts/themeSrc";
@import "./../../../../styles/components/buttons";

.promo {
  .mobileFullWidth {
    @include breakPoints(767px) {
      padding-top: 2.5rem;
      @include Width(100%);
      padding-bottom: 2.5rem;
    }
  }
  h2{
    color: $whiteColor;
  }
  p{
    color: $primaryColor;
  }
  .flex {
    @include JustifyContent(space-evenly);
    background-image: url(./../../../../public/images/promo-banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position:center;
    @include Position(relative);
  }
  .promoBoxLeft {
    background-color: #00d231c7;
    @include Position(absolute);
    bottom: -50px;
    @include Width(400px);
    left: 150px;
    min-height: 400px;
    @include Padding(25px);
    @include breakPoints(767px) {
        @include Position(static);
        @include Width(auto);
    }
  }

}
